# Dependencias de Node.js
/node_modules

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación de Android
/android/app/build

# Archivos de compilación de iOS
/ios/Pods
/ios/build

# Archivos de compilación de Metro Bundler
/metro-cache
/metro-logs

# Archivos de configuración local
.env

# Archivos de respaldo
*.bak
*.swp
*~

# Otros archivos y carpetas generados
npm-debug.log
yarn-error.log
